<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>

    <title>Inicio</title>
</head>
<body>
  <!--Ir a formulario de registro o iniciar sesión-->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Portal de usuarios</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
              <a href="/login" class="btn btn-primary my-2">Iniciar sesión</a>
              <a href="registro" class="btn btn-secondary my-2">Registrarse</a>
            </p>
          </div>
        </div>
      </section>

      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>